#root {
  width:100vw;
  height: 100vh;
  /* background-color: fuchsia; */
  overflow-x: hidden;
}
.main_div{
  margin:0 auto;
  width:90%;
  height: 100%;
  /* background-color: rgb(107, 138, 189); */
  overflow: auto;
scrollbar-width: 0;
}
body{
  -webkit-text-size-adjust: 100%;
  a:-webkit-any-link {
    text-decoration: none;
  }
}



