/* login.module.css */

.form_container {
    width: 70%;
    /* background-color: palevioletred; */
    margin: 50px auto;
}
@media screen and (max-width: 700px) {
    .form_container {
        width: 100%;
        /* background-color: rgb(187, 112, 216); */
    }
}
.form{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    /* background-color: wheat; */
}




